@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Commissioner";
}

header{
    background-color: #644228;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .logo{ 
    width: 80px;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

main{
    background-color: #ffefd0;
    /* height: 100vh; */

}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 250;
    font-style: normal;
    color: white;
}
.commissioner-400-regular {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main .slogan{
    padding: 10px;
}

.slogan h2{
padding: 20px;
background-color: #a9db9a;
width: 280px;
border: 1px solid #a9db9a;
border-radius: 50px;
text-align: center;

}


.bookshelf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 120px;
    row-gap: 20px;
    padding: 50px;
}

.bookshelf .book .booktitle{
    text-align: center;
    padding: 10px;
}

.bookshelf .book .bookcover{
    background-color: white;
    height: auto;
    text-align: center;
}

.bookshelf .book .bookcover img{
    width: 100%;
    height: auto;
}

.bookshelf .book .read{
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.bookshelf .book .read .readbutton{
    background-color:#a9db9a;
    border: 1px solid white;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
}